<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alumniapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.example.alumniapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.alumniapp.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Notification"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Register"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnouncementView"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Profile"
            android:label="Profile"
            />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.alumniapp" />
            </intent-filter>
        </receiver>

        <!-- Service to receive messages and registration IDs -->
        <service android:name=".GCMIntentService" />

        <activity android:name=".Update"
            android:label="Update Profile"/>
    </application>

</manifest>